#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            label = "Base";
            bindings = <
&kp KP_NUMBER_1  &kp LC(KP_NUMBER_2)  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp G  &kp H
            >;
        };
    };
};
